* {

    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.header {

    width: 100%;
    height: 100vh;
    background: url(fons/ergewrgwergw.jpg);
    background-position: center;
    background-size: cover;
}

.containers {

 padding: 12px 8%;

}

.logo {  
    font-size: 50px;
    width: 1%s;
}
span {
    color: blue;
}


nav {
    display: flex;
    align-items: center;
    justify-content: space-between;

}


nav ul li {

    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}


nav ul li a {


    text-decoration: none;
    color: #fff;
    font-size: 18px;
    position: relative;
}


nav ul li a::after {
    transition: 0.7s;
    background: greenyellow;
    content: "";
    width: 0;
    height: 2px;
    position: absolute;
    right: 0;
    bottom: -5px
    
}

nav ul li a:hover::after {
    width: 100%;
}



P {
    font-size: 30px;
}


.sedever{
    background: url(fons/FONS.jpg);
    background-position: center;
    background-size: cover;
}


.description {

    top: 35%;
    left: 10%;
    width: 35%;
    position: absolute;
}


.description h1 {
    margin: 0;
    font-size: 40px;
    color: #fff;
}

.description p {
    color: #c7c7c7;
    font-size: 20px;
    
}

hr {
    color: #fff;
    width: 100%;
}


body {

	min-height: 100vh;
	margin: 0;
	padding: 0;
	background: black;
	color: #fff;
	font-family: sans-serif;
}

.bodys {
	display: flex;
	align-items: center;
	justify-content: space-around;
	width: 100%;
    
}

.informBlock {
	width: 30%;
	height: 300px;
	background: #1b1b1b;
	padding: 40px;
	box-sizing: border-box;
	transition: .4s;
    align-items: center;
}

.informBlock i {
	color: #e9204f;
	font-size: 35px;
	margin-top: 20px;
	transition: .4s;
}

.mainText {
	color: #fff;
	margin: 55px 0 0 0;
	font-size: 20px;
}

.underlineBlock {
	height: 0;
	width: 35px;
	border-top: 2px solid #e9204f;
	margin-top: 20px;
	transition: .4s;
}

.secondText {
	color: #fff;
	font-size: 14px;
	margin-top: 15px;
}

.informBlock:hover {
	background: #e9204f;
}

.informBlock:hover i {
	color: #fff;
}

.informBlock:hover .underlineBlock {
	border-color: #fff;
}




.fody {

    top: 35%;
    left: 10%;
    width: 35%;
    position: absolute;
}
.h8 {
    text-align: center;
    vertical-align: middle;
    line-height: 90px;      
}

.bodyss {
	display: flex;
	align-items: center;
	justify-content: space-around;
	width: 100%;
}

h3.logo {
    width: 30px;
    background: url(fons/j\ house.jpg);
}
img {
    width: 280px;
    background: url(fons/j\ house.jpg);
}


.informBlocks {
	width: 30%;
	height: 300px;
	background: #1b1b1b;;
	padding: 40px;
	box-sizing: border-box;
	transition: .4s;
    align-items: center;
}

.informBlocks:hover {
	background: #20e941;
}



.container{
	max-width: 1170px;
	margin:auto;
}
.row{
	display: flex;
	flex-wrap: wrap;
}
ul{
	list-style: none;
}
.footer{
	background-color: #24262b;
    padding: 70px 0;
}
.footer-col{
   width: 25%;
   padding: 0 15px;
}
.footer-col h4{
	font-size: 18px;
	color: #ffffff;
	text-transform: capitalize;
	margin-bottom: 35px;
	font-weight: 500;
	position: relative;
}
.footer-col h4::before{
	content: '';
	position: absolute;
	left:0;
	bottom: -10px;
	background-color: #e91e63;
	height: 2px;
	box-sizing: border-box;
	width: 50px;
}
.footer-col ul li:not(:last-child){
	margin-bottom: 10px;
}
.footer-col ul li a{
	font-size: 16px;
	text-transform: capitalize;
	color: #ffffff;
	text-decoration: none;
	font-weight: 300;
	color: #bbbbbb;
	display: block;
	transition: all 0.3s ease;
}
.footer-col ul li a:hover{
	color: #ffffff;
	padding-left: 8px;
}
.footer-col .social-links a{
	display: inline-block;
	height: 40px;
	width: 40px;
	background-color: rgba(255,255,255,0.2);
	margin:0 10px 10px 0;
	text-align: center;
	line-height: 40px;
	border-radius: 50%;
	color: #ffffff;
	transition: all 0.5s ease;
}
.footer-col .social-links a:hover{
	color: #24262b;
	background-color: #ffffff;
}

/*responsive*/
@media(max-width: 767px){
  .footer-col{
    width: 50%;
    margin-bottom: 30px;
}
}
@media(max-width: 574px){
  .footer-col{
    width: 100%;
}
}

.grid {
	display: grid;
	width: 114em;
	grid-gap: 1rem;
	grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
	align-items: start;
  }
  
  .grid-item {
	background-color: #d8e0fd;
	border-radius: 0.4rem;
	overflow: hidden;
	box-shadow: 0 3rem 6rem rgba(255, 0, 0, 0.1);
	cursor: pointer;
	transition: 0.2s;
  }
  
  .grid-item:hover {
	transform: translateY(-0.5%);
	box-shadow: 0 4rem 8rem rgba(0, 0, 0, 0.5);
  }
  
  .card-img {
	display: block;
	width: 100%;
	height: 20rem;
	object-fit: cover;
  }
  
  .card-content {
	padding: 3rem;
  }
  
  .card-header {
	font-size: 3rem;
	font-weight: 500;
	color: #0d0d0d;
	margin-bottom: 1.5rem;
  }
  
  .card-text {
	font-size: 1.6rem;
	letter-spacing: 0.1rem;
	line-height: 1.7;
	color: #3d3d3d;
	margin-bottom: 2.5rem;
  }
  
  .card-btn {
	display: block;
	width: 100%;
	padding: 1.5rem;
	font-size: 2rem;
	text-align: center;
	color: #3363ff;
	background-color: #d8e0fd;
	border: none;
	border-radius: 0.4rem;
	transition: 0.2s;
	cursor: pointer;
	letter-spacing: 0.1rem;
  }
  
  .card-btn span {
	margin-left: 1rem;
	transition: 0.2s;
  }
  
  .card-btn:hover,
  .card-btn:active {
	background-color: black;
  }
  
  .card-btn:hover span,
  .card-btn:active span {
	margin-left: 1.5rem;
  }
  
  @media only screen and (max-width: 60em) {
	body {
	  padding: 3rem;
	}
  
	.grid {
	  grid-gap: 3rem;
	}
  }
  